# Ignore dataset files
/MachineLearningCVE/*

# IDE specific files
.idea/

# macOS specific files
.DS_Store

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.env/

# Logs and temporary files
*.log
*.tmp